<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Billing address Saved</title>
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">firstName</th>
                <th scope="col">lastName</th>
                <th scope="col">addressL1</th>
                <th scope="col">addressL2</th>
                <th scope="col">country</th>
                <th scope="col">state</th>
                <th scope="col">city</th>
                <th scope="col">zipCode</th>
                <th scope="col">phoneNumber</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="billA, iterStat : ${allBillingAddress}">
                    <td scope="row" th:text="${iterStat.count}"></td>
                    <td th:text="${billA.firstName}"></td>
                    <td th:text="${billA.lastName}"></td>
                    <td th:text="${billA.addressL1}"></td>
                    <td th:text="${billA.addressL2}"></td>
                    <td th:text="${billA.country}"></td>
                    <td th:text="${billA.state}"></td>
                    <td th:text="${billA.city}"></td>
                    <td th:text="${billA.zipCode}"></td>
                    <td th:text="${billA.phoneNumber}"></td>
                    <td><a th:href="@{/buyer/address/edit/{id}(id=${billA.id})}">Update</a></td>
                    <td><a th:href="@{/buyer/address/delete/{id}(id=${billA.id})}">Delete</a></td>
                </tr>
            </tbody>

        </table>
    </div>


</div>
</body>
</html>