<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404 Not Found</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="" th:href="@{/font-awesome/css/font-awesome.css}"/>
</head>
<body>
<div class="container">
    <div class="mt-120 alert-danger alert">Access Denied.</div>
    <a class="btn btn-primary" href="/administration" th:href="@{/}">Back to Home Page</a>
</div>
</body>
</html>