<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer -->
<footer th:fragment="footer-menu" class="page-footer font-small blue pt-4 theme-footer">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase"><!--/*@thymesVar id="context" type=""*/-->
                    <span th:text="${#servletContext.getAttribute('appName')}"></span></h5>
                <p>Keep in touch</p>
                <p><i class="fa fa-facebook btn btn-sm btn-primary"></i>
                    <i class="fa fa-youtube btn btn-danger btn-sm"></i>
                    <i class="fa fa-twitter btn btn-info btn-sm"></i></p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Quick Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/page/about-us">About Us</a>
                    </li>
                    <li>
                        <a href="/page/terms-and-conditions">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="/page/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="/page/privacy-policy">Privacy Policy</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Contact Us</a>
                    </li>
                    <li>
                        <a href="#!">Our Partners</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> <span th:text="${#servletContext.getAttribute('appName')}"></span></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>