<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layouts/layout}"
>
<head>
    <title>GenerationType.IDENTITYl Admin Panel</title>
    <!--    <link rel="stylesheet" >-->
</head>
<body>
<div layout:fragment="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin Panel</h1>
        </div>
        <!-- /.col-lg-12 -->

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center" style="margin-top: 180px">Welcome to TechRiders Admin Panel</h1>
        </div>
    </div>
</div>
</body>
</html>