<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for Sample Email </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${name})}"/>
<H4> Your Order Details at AutoSell!</H4>
<p th:text="#{transaction(${transactionId})}"/><br/>
<p th:text="#{shippingaddress(${shippingAddress})}"/><br/>
<p th:text="#{billingaddress(${billingAddress})}"/><br/>

<br/><p>

   This is test message.
</p>
<p><br/>
    Thanks for your order, Keep in touch <br/>
    &emsp; <em><b>TechRiders: Smells like Team Spirit</b></em>
</p>
</body>
</html>
