<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layouts/layout}"
>
<head>
    <title>AutoSell</title>
    <!--    <link rel="stylesheet" >-->
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <p> <a class="nav-link" href="/billingAddress_input"> billing</a></p>
    <p><a class="nav-link" href="/shippingAddress_input"> shipping</a></p>
    <p><a class="nav-link" href="/payment_input"> payment</a></p>
</div>

</body>
</html>