<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <div class="container">
        <!--/*@thymesVar id="billingAddress" type=""*/-->
        <form th:action="@{/account/address}" th:object="${billingAddress}" method="post">
            <h2 class="mb-3">Billing address</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input th:field="*{firstName}" class="form-control" id="firstName" aria-describedby="firstNameHelp"
                           placeholder="Enter first Name">
                    <p th:errors="*{firstName}" class="text-danger"></p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="country">Last Name</label>
                    <input th:field="*{lastName}" class="form-control" id="lastName" aria-describedby="lastNameHelp"
                           placeholder="Enter Last Name">
                    <p th:errors="*{lastName}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-userGroup">
                <label for="addressL1">Country/Region</label>
                <input th:field="*{addressL1}" placeholder="Street Adress, PoBox, company name, c/o"
                       class="form-control" id="addressL1" aria-describedby="addressL1Help">
                <p th:errors="*{addressL1}" class="text-danger"></p>
            </div>
            <div class="form-userGroup">
                <label for="addressL2">Address line 2</label>
                <input th:field="*{addressL2}" class="form-control" id="addressL2" aria-describedby="addressL2Help"
                       placeholder="Appartment, building, suite, unit, floor, etc">
                <p th:errors="*{addressL2}" class="text-danger"></p>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="country">Country/Region</label>
                    <input th:field="*{country}" class="form-control" id="country" aria-describedby="countryHelp"
                           placeholder="Enter Country/Region">
                    <p th:errors="*{country}" class="text-danger"></p>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="city">City</label>
                    <input th:field="*{city}" class="form-control" id="city" aria-describedby="cityHelp"
                           placeholder="Enter City">
                    <p th:errors="*{city}" class="text-danger"></p>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="state">State / Province / Region</label>
                    <input th:field="*{state}" class="form-control" id="state" aria-describedby="stateHelp"
                           placeholder="Enter State">
                    <p th:errors="*{state}" class="text-danger"></p>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="zipCode">Zip Code</label>
                    <input th:field="*{zipCode}" class="form-control" id="zipCode" aria-describedby="zipCodeHelp"
                           placeholder="Enter Zip Code">
                    <p th:errors="*{zipCode}" class="text-danger"></p>
                </div>
            </div>
            <div class="form-userGroup">
                <label for="phoneNumber">Phone Number</label>
                <input th:field="*{phoneNumber}" class="form-control" id="phoneNumber"
                       aria-describedby="phoneNumberHelp" placeholder="Enter Phone number">
                <p th:errors="*{phoneNumber}" class="text-danger"></p>
                <small id="phoneHelp" class="form-text text-muted">May be used to assist delivery</small>
            </div>
            <div class="form-userGroup">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save and Continue</button>

            </div>
        </form>
    </div>
</div>

</body>
</html>