<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layouts/layout}"
>
<head>
    <title>TechRiders</title>
    <!--    <link rel="stylesheet" >-->
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <div class="container content p-15">
        <div class="row">


            <div th:each="product:${products}">
                <a class="item-container" th:class="${(session.cart_item != null)?((session.cart_item.containsKey(product.id) == true )?'added item-container':'item-container'):'item-container'}" href="#" th:attr="data-key=${product.id}">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item-box form-userGroup mt-15 col-xs-12 pb-15 pt-15">
                            <img th:src="@{/images/{product_image}(product_image=${product.productImage})}" class="img-responsive mt-15">
                            <p class="item-name" th:text="${product.name}"></p>
                            <p><span class="glyphicon glyphicon-heart-empty favourite-tag"></span><span class="price-tag">USD</span> <span class="price-tag" th:text="${product.price}">USD </span></p>
                            <button class="btn btn-info add-to-cart-btn" >Add to Cart <span class="check-icon" th:class="${(session.cart_item != null)?((session.cart_item.containsKey(product.id) == true )?'check-icon fa fa-check':'check-icon'):'check-icon'}"></span>
                            </button>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>
    <p> <a class="nav-link" href="/billingAddress_input"> billing</a></p>
    <p><a class="nav-link" href="/shippingAddress_input"> shipping</a></p>
    <p><a class="nav-link" href="/payment_input"> payment</a></p>

</div>

</body>
</html>