<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layouts/layout}">
    <head>
        <title>Thymeleaf</title>
        <!--    <link rel="stylesheet" >-->
    </head>
    <body>
        <div id="main-content" layout:fragment="main-content">
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Add Product</h1>

<!--                            <button class="btn btn-success add-edit-btn" href="#demo" data-toggle="collapse">Add/Edit</button>-->
<!--                            <div id="demo" class="collapse">-->
                                <div id="demo">
                                <form  class="product-form" th:action="@{/seller/product-list/add}" th:object="${product}" method="post" action="#" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-userGroup">
                                                <label for="product-name">Product Name</label>
                                                <input type="text" th:field="*{name}" id="product-name" class="form-control">
                                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Incorrect productName</p>

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-userGroup">
                                                <label for="product-category">Product Category</label>
                                                <select type="text" class="form-control" id="product-category" th:field="*{catId}">
                                                    <option value="">Choose Product Category</option>
                                                    <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}">Electronics</option>
                                                </select>
                                                <p th:if="${#fields.hasErrors('catId')}" th:errors="*{catId}" class="text-danger">Incorrect category</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-userGroup">
                                                <label for="product-tax">Tax</label>
                                                <input type="text" th:field="*{tax}" id="product-tax" class="form-control">
                                                <p th:if="${#fields.hasErrors('tax')}" th:errors="*{tax}" class="text-danger">Incorrect tax</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-userGroup">
                                                <label for="product-unitPrice">Product Price</label>

                                                <input type="text" th:field="*{price}" id="product-unitPrice" class="form-control">
                                                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger" >Incorrect price</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-userGroup">
                                                <label for="product-image">Product Image</label>
                                                <input type="file" name="product_file" id="product-image">
                                                <input type="hidden" th:field="*{productImage}">
                                                <p th:if="${#fields.hasErrors('productImage')}" th:errors="*{productImage}" class="text-danger">Incorrect image </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-userGroup">
                                                <label for="product-desc">Product Description</label>
                                                <textarea  th:field="*{description}" id="product-desc" rows="4" class="form-control"></textarea>
                                                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger" >Incorrect firstName</p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{addedBy}" th:value="121344">
                                    <div class="row">
                                        <div class="text-danger error-container col-sm-6">
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="submit" style="margin-bottom: 15px" class="btn btn-success">Submit</button>
                                </form>
                            </div>
<!--                            <c:set var="count" value="0" scope="page" />-->
<!--                            <table class="table table-hover product-table">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th>#</th>-->
<!--                                    <th>Product Name</th>-->
<!--                                    <th style="width: 10%">Product Image</th>-->
<!--                                    <th>Product Category</th>-->
<!--                                    <th class="text-right">Unit Price</th>-->
<!--                                    <th class="text-right">Tax</th>-->
<!--                                    <th>Action</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->

<!--                                <c:forEach items="${productList}" var="product" >-->
<!--                                    <c:set var="count" value="${count + 1}" scope="page"/>-->
<!--                                    <tr data-key="${product.id}" data-desc="${product.desc}">-->
<!--                                        <td>${count}</td>-->
<!--                                        <td>${product.name}</td>-->
<!--                                        <td><img alt="${product.name}" class="img-responsive" src="<c:url value="/assets/images/${product.producImg}"/>"/></td>-->
<!--                                        <td data-cat="${product.catId}">${catlist[product.catId].name}</td>-->
<!--                                        <td class="text-right">${product.unitPrice}</td>-->
<!--                                        <td class="text-right">${product.tax}</td>-->
<!--                                        <td>-->
<!--                                            <a class="btn btn-primary btn-xs edit-btn"><i class="fa fa-edit"></i></a>-->
<!--                                            <a class="btn btn-danger btn-xs delete-btn"><i class="fa fa-trash-o"></i></a>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                </c:forEach>-->

<!--                                </tbody>-->
<!--                            </table>-->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->

            </div>
        </div>

    </body>
</html>