<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/user/layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Update billing Address</title>
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <div class="container">
        <h2>Update billing Address</h2>
        <!--/*@thymesVar id="billingAddressUpdate" type=""*/-->
        <form th:action= "@{update/{id}(id=${paymentUpdate.id})}" th:object="${paymentUpdate}" method="post">
            <h2 id="heading2" class="text-danger mb-3">Payment Method</h2>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label> Choose card type: </label>
                </div>
                <div class="custom-control custom-radio col-md-3 mb-3">
                    <input type="radio" class="custom-control-input" id="creditCard" th:field="*{paymentType}" th:value="creditCard" checked>
                    <label class="custom-control-label" for="creditCard">Credit Card</label>
                </div>


                <div class="custom-control custom-radio col-md-3 mb-3">
                    <input type="radio" class="custom-control-input" id="debitCard" th:field="*{paymentType}" th:value="debitCard">
                    <label class="custom-control-label" for="debitCard">Debit Card</label>
                </div>

                <div class="custom-control custom-radio col-md-2 mb-3">
                    <input type="radio" class="custom-control-input" id="payPal" th:field="*{paymentType}" th:value="payPal">
                    <label class="custom-control-label" for="payPal">PayPal</label>
                </div>
            </div>


            <div class="form-userRole">
                <label for="cardName">Card Name</label>
                <input th:field="*{cardName}" placeholder="Enter the name on the card" class="form-control" id="cardName" aria-describedby="cardNameHelp">
            </div>
            <div class="form-userRole">
                <label for="cardNumber">Card Number</label>
                <input th:field="*{cardNumber}" class="form-control" id="cardNumber" aria-describedby="cardNumberHelp" placeholder="0000 0000 0000 0000 ">
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="cardExpiry">Card Expiry</label>
                    <input th:field="*{cardExpiry}" class="form-control" id="cardExpiry" aria-describedby="cardExpiryHelp" placeholder="MM/YY">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="CVV">CVV</label>
                    <input th:field="*{CVV}" class="form-control" id="CVV" aria-describedby="CVVHelp" placeholder="000">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>



</body>
</html>