<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Orde Completed</title>
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <div class="container">
        <h1>Congraturations you have completed the order!!!</h1>
        <div class="col px-md-5">
            <label for="bill">Edit Billing Address: </label>
            <button id="bill" type="submit" class="btn mb-3"><a class="nav-link" th:href="@{/account/address/billingList}">View Billing Addresses</a></button> <br/><br/></div>
        <div class="col px-md-5">
            <label for="ship">Edit Shipping Address: </label>
            <button id="ship" type="submit" class="btn mb-3"><a class="nav-link" th:href="@{/account/address/shipping/shippingAddressList}">View Shipping Addresses</a></button><br/><br/>
        </div>

        <label for="pay">Edit Payment: </label>
        <button id="pay" type="submit" class="btn mb-3"><a class="nav-link" th:href="@{/account/payment_input/paymentList}">View Payment Methods</a></button>

    </div>
</div>

</body>
</html>