<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Shipping Address</title>
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <div class="container mb-3">
        <form id="shipping-addr-form" th:action="@{/account/address/shipping}" th:object="${shippingAddress}"
              method="post">
            <h2 class="mb-3">Shipping address</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input th:field="*{firstName}" class="form-control" id="firstName" aria-describedby="firstNameHelp"
                           placeholder="Enter first Name">
                    <p class="text-danger" th:errors="*{firstName}"></p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="country">Last Name</label>
                    <input th:field="*{lastName}" class="form-control" id="lastName" aria-describedby="lastNameHelp"
                           placeholder="Enter Last Name">
                    <p class="text-danger" th:errors="*{lastName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="addressL1">Country/Region</label>
                <input th:field="*{addressL1}" placeholder="Street Adress, PoBox, company name, c/o"
                       class="form-control" id="addressL1" aria-describedby="addressL1Help">
                <p class="text-danger" th:errors="*{addressL1}"></p>
            </div>
            <div class="form-group">
                <label for="addressL2">Address line 2</label>
                <input th:field="*{addressL2}" class="form-control" id="addressL2" aria-describedby="addressL2Help"
                       placeholder="Appartment, building, suite, unit, floor, etc">
                <p class="text-danger" th:errors="*{addressL2}"></p>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="country">Country/Region</label>
                    <input th:field="*{country}" class="form-control" id="country" aria-describedby="countryHelp"
                           placeholder="Enter Country/Region">
                    <p class="text-danger" th:errors="*{country}"></p>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="city">City</label>
                    <input th:field="*{city}" class="form-control" id="city" aria-describedby="cityHelp"
                           placeholder="Enter City">
                    <p class="text-danger" th:errors="*{city}"></p>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="state">State / Province / Region</label>
                    <input th:field="*{state}" class="form-control" id="state" aria-describedby="stateHelp"
                           placeholder="Enter State">
                    <p class="text-danger" th:errors="*{state}"></p>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="zipCode">Zip Code</label>
                    <input th:field="*{zipCode}" class="form-control" id="zipCode" aria-describedby="zipCodeHelp"
                           placeholder="Enter Zip Code">
                    <p class="text-danger" th:errors="*{zipCode}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input th:field="*{phoneNumber}" class="form-control" id="phoneNumber"
                       aria-describedby="phoneNumberHelp" placeholder="Enter Phone number">
                <p class="text-danger" th:errors="*{phoneNumber}"></p>
                <small id="phoneHelp" class="form-text text-muted">May be used to assist delivery</small>
            </div>
            <h4>Add delivery instructions (optional)</h4>
            <div class="form-group">
                <label for="extraInfo">Do we need additional instructions to find this address? </label>
                <textarea id="extraInfo" th:field="*{extraInfo}" class="form-control is-invalid"
                          placeholder="Please enter extra information"></textarea>
                <p class="text-danger" th:errors="*{extraInfo}"></p>
            </div>
            <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" id="sameBilling">
                <p class="text-danger" th:errors="*{sameBilling}"></p>
                <label class="form-check-label" for="sameBilling">Do you want to use the same Shipping address as the
                    Billing address</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Use this Address</button>
            </div>


        </form>
    </div>
    <script th:src="@{/js/script.js}"></script>
</div>

</body>
</html>