.theme-input-group-addon {
    padding: 0;
}

.theme-header-top {
    margin-bottom: 10px;
}

.theme-header-top img {
    height: 89px;
}
.theme-header-top *{
    color: #000000;
}
.theme-header-top .glyphicon-shopping-cart {
    font-size: 30px;
    color: #000000;
}

.theme-header-top .item-count {
    position: absolute;
    left: 14px;
    color: white;
    background: red;
    border-radius: 50%;
    padding: 4px;
    font-size: 8px;
    text-align: center;
    min-width: 18px;
}

.theme-input-group-addon button {
    height: 32px;
    border: 0;
    padding: 0 32px;
    background: rgba(0, 0, 0, 0);
}

.theme-header-top-second {
    background: #000;
}

.theme-header-top-second a {
    color: #fff !important;
}

.theme-header-top-second .dropdown-menu a {
    color: #000 !important;
}

.theme-header-top-second .active a {
    color: #000 !important;
}

.theme-header-top-second .open a {
    color: #000 !important;
}

.content {
    margin-top: 128px;
}

.theme-footer {
    background: #000;

}

.theme-footer * {
    color: #fff;
}

.mt-15 {
    margin-top: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}
.mt-80{
    margin-top: 80px;
}
.mb-80{
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}
.mb-120{
    margin-bottom: 120px;
}
.mt-120{
    margin-top: 120px;
}
.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.item-box {
    box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
}

.item-box:hover {
    box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px #aaa;
    -moz-box-shadow: 0 0 3px #aaa;
}

.item-name {
    text-align: center;
    font-weight: bold;
}

.price-tag {
    float: right;
}

.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    opacity: 0.95;
    background: #000;
    border-color: #000000;
}
#main-content .btn-info{
    background: #000;
    border-color: #000000;
}

.item-box:hover .add-to-cart-btn {
    display: block;
    background: #000;
    border-color: #000000;

}
.add-to-cart-btn:focus{
    background: #000;
    border-color: #000000;
}

.check-icon {
    display: none;
}

.item-indicate {
    width: 30px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .col-sm-text-center {
        text-align: center;
    }

    .item-indicate {
        margin: auto;
    }

    .content {
        margin-top: 206px;
    }
}

.open > .dropdown-menu.criteria {
    padding-left: 10px;
    padding-right: 10px;
}

.p-15 {
    padding: 15px;
}

.check-icon {
    display: none !important;
}

.added .check-icon {
    display: inline-block !important;
}

.added .add-to-cart-btn {
    display: inline-block !important;
}
.small-middle-container{
    margin: auto;
    width: 40%;
}
.set-at-middle{
    margin-top: 20px;
}